.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 109px;
}

#topleft {
  display: block;
  position: absolute;
  margin: 7px 0 0 10px;
}

#topright {
  display: flex;
  position: relative;
  float: right;
  text-align: right;
  padding-right: 30px;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

body {
  font-family: arial, sans-serif;
  font-size: small;
  color: #000;
  text-decoration: none;
}

#top a {
  display: inline-block;
  opacity: 0.75;
  color: #000;
  text-decoration: none;
}

#top {
  top: 16px;
  position: fixed;
  width: 100%;
}

#topleft a {
  padding-left: 15px;
}

#topright a {
  padding-right: 15px;
  margin-top: 7px;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  line-height: 40px;
}

#footleft {
}

#footright {
}

.signin {
  border-radius: 2px;
  border-color: rgb(66, 133, 244);
  background: -webkit-linear-gradient(
    top,
    rgb(67, 135, 253),
    rgb(70, 131, 234)
  );
  color: #fff;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  display: block;
  line-height: 28px;
  padding: 0px 12px;
  vertical-align: text-bottom;
}

#search {
  box-sizing: border-box;
  border: 1px solid #dfe1e5;
  width: 582px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 44px;
  border-radius: 24px;
}
