.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 109px;
}

#topleft {
  display: block;
  position: absolute;
  margin: 7px 0 0 5px;
}

#topright {
  display: flex;
  position: relative;
  float: right;
  text-align: right;
  padding-right: 30px;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

body {
  font-family: arial, sans-serif;
  font-size: small;
  color: #000;
  text-decoration: none;
}

#top a {
  display: inline-block;
  opacity: 0.75;
  color: #000;
  text-decoration: none;
}

#top {
  top: 16px;
  position: fixed;
  width: 100%;
}

#topleft a {
  padding-left: 15px;
}

#topright a {
  padding-right: 15px;
  margin-top: 7px;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  height: 40px;
  min-width: 600px;
  line-height: 40px;
}

#footer a {
  display: inline-block;
  opacity: 0.75;
  color: #000;
  text-decoration: none;
}

#footleft {
  float: left;
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}

#footright {
  float: right;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

#footleft a {
  padding-left: 20px;
}

#footright a {
  padding-right: 20px;
}

.signin {
  border-radius: 2px;
  border-color: rgb(66, 133, 244);
  background: -webkit-linear-gradient(
    top,
    rgb(67, 135, 253),
    rgb(70, 131, 234)
  );
  color: #fff;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  display: block;
  line-height: 28px;
  padding: 0px 12px;
  vertical-align: text-bottom;
}

#search {
  box-sizing: border-box;
  border: 1px solid #dfe1e5;
  width: 582px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 44px;
  border-radius: 24px;
}

#search:hover {
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
  border-color: rgba(223,225,229,0);
}

.searchbutton {
  height: 36px;
  line-height: 27px;
  background-color: #f2f2f2;
  color: #5F6368;
  border-radius: 4px;
  border: 1px solid #f2f2f2;
  font-size: 14px;
  min-width: 54px;
  margin: 11px 4px;
  text-align: center;
  padding: 0 16px;
  display: inline-block;
}

#searchbuttons {
  width: 571px;
  height: 70px;
  padding-top: 18px;
  position: absolute;
  margin-top: auto;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 99%
}
